@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 5s ease-in forwards;
}

@keyframes sprite-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-sprite {
  animation: sprite-x var(--anim-duration) steps(var(--anim-cols), end) var(--anim-type);
}

@keyframes marqueeSequence {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-100%);
    opacity: 1;
  }
  45% {
    transform: translateX(-100%);
    opacity: 1;
  }
  46%,
  60% {
    transform: translateX(0);
    opacity: 1;
  }
  61%,
  63% {
    opacity: 0;
  }
  64%,
  66% {
    opacity: 1;
  }
  67%,
  69% {
    opacity: 0;
  }
  70%,
  72% {
    opacity: 1;
  }
  73%,
  75% {
    opacity: 0;
  }
  76%,
  78% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-marquee-text {
  animation: marqueeSequence 10s infinite;
}

@keyframes wipeSequence {
  0% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-100%);
    animation-timing-function: steps(15, end);
  }
  42%,
  45% {
    transform: translateY(0);
    animation-timing-function: steps(15, end);
  }
  52%,
  100% {
    transform: translateY(100%);
  }
}

.animate-wipe-cover {
  animation: wipeSequence 10s infinite;
}
